{% extends 'products/base.html' %}
{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section" style="background: linear-gradient(to bottom, #000000, #333333);">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title" style="color: white;">About us</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->


     <!-- Start About Top -->
     <div class="about-top">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between d-sm-column">
                <div class="col-md-6">
                    <div class="about-img" data-aos="fade-up" data-aos-delay="0">
                        <div class="img-responsive">
                            <img src="static/assets/images/rolexbanner.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="title">Unveiling Timeless Elegance</h3>
                        <h5 class="semi-title">Discover the Story Behind Refined Radiance Watches.</h5>
                        <p>In the heart of a quaint horological atelier, Refined Radiance was born, 
                            its inception fueled by a passion for crafting exquisite timepieces.
                            With artistry and precision, the master watchmakers tirelessly breathed 
                            life into each creation, infusing them with elegance and sophistication. 
                            Soon, word of their craftsmanship spread like wildfire, drawing watch connoisseurs
                             from all corners of the world. Each timepiece bore the mark of Refined Radiance, 
                             a symbol of timeless allure and a commitment to exceptional craftsmanship. 
                             From that moment on, Refined Radiance became a beacon of watchmaking brilliance, 
                             illuminating the world with its refined splendor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Top -->



{% endblock %}
